// stylelint-disable no-empty-source

@font-face {
	font-family: "RobotoMedium";
	src: url("/fonts/roboto-medium.ttf");
}

@font-face {
	font-family: "RobotoBlack";
	src: url("/fonts/roboto-black.ttf");
}
